.header {
    background-color: rgb(41,101,115);
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}
 
#title{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: left;
    color:#FFFFFF;
    flex: 0.7;
}
 