.body{
    margin-top: 20px;
    margin: 40px;
    justify-content: space-around;
    display: flex;
}

.no-city-logo {
    width: 40vw;
    height: auto;
}

.select-city-container{
    border: 1px solid #DBDFE9;
    border-radius: 10px;
    justify-content: center;
    text-align: top;
    width: 25vw;
    padding: 40px;
    box-shadow: 0px 3px 4px 0px #00000008;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#input{
    width: 30vw;
    margin: 10px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    justify-content: space-between;
    border: 1px solid #DBDFE9;
    box-shadow: 0px 3px 4px 0px #00000008;
    padding: 10px;
}

#header-txt{
    font-size: 32px;
    font-weight: 700;
    color: #313131;
    text-align: center;
}

#body-txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
}
